@import '../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.nav-bar {
  flex: 0 0 50px;
  width: 100%;
  display: flex;
  //   TODO:P - different background color instead of border-bottom?
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); // TODO:P - Figure out how to pull this from angular theme
  margin-bottom: 2em;
  background-color: #464b51;

  .nav-item {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
  }
}
