<form [formGroup]="form">
  <mat-form-field floatLabel="always" appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Search for a tv show"
      formControlName="search"
    />
  </mat-form-field>
</form>
<app-loading-overlay [show]="searchLoading$ | async">
  <pip-results-container
    [data]="data$ | async"
    [profiles]="profiles$ | async"
    [showNoResultsFound]="showNoResultsFound$ | async"
    (addClick)="addClicked($event)"
  >
  </pip-results-container>
</app-loading-overlay>
