<form [formGroup]="form" class="login-form" (ngSubmit)="login(form)">
  <pip-authentication-container headerText="Login">
    <ng-container authenticationBody>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error *ngIf="form.controls.email.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>

      <a
        mat-raised-button
        color="primary"
        [routerLink]="['/authentication/register']"
      >
        Register
      </a>
    </ng-container>
  </pip-authentication-container>
</form>
